@model CreateRoleModel
@{
    ViewBag.Title = "Create Role";
}
<h1>Create role</h1>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rolename"></label>
                <input asp-for="Rolename" class="form-control" />
                <span asp-validation-for="Rolename" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>

</div>